@import '../../../scss/variables.module';

// 招标方案单选下拉框
.content {
  .ant-table-wrapper {
    td {
      padding: 6px 16px;
    }
  }
  .ant-pagination.ant-table-pagination {
    margin-right: 8px;
  }
  .keysearch-footer {
    text-align: right;
    border-top: 1px solid $first-border;
    padding: 8px 8px 4px;
    font-size: 12px;
    .mgl-8 {
      margin-left: 8px;
    }
  }
}