@import '../../../scss/variables';

.yema-select-checkbox__dropdown {
  display: flex;
  .yema-select-checkbox__dropdown-main {
    flex: 1;
  }
  .yema-select-checkbox__dropdown-tags {
    width: 100px;
    margin: 0 4px 4px;
    padding: 4px;
    border: 1px solid $first-border;
  }
}