// 招标方案单选下拉框
.radio-select {
  .radio-select-keysearch {
    display: flex;
    background-color: #fafafa;
    padding: 8px;
    border-bottom: 1px solid #D9D9D9;
    .radio-select-keysearch__label {
      white-space: nowrap;
      margin: auto 8px auto 0;
    }
    input {
      flex: 1;
    }
    .radio-select-keysearch__control {
      display: flex;
      margin: auto;
      .ant-btn {
        margin-left: 8px;
      }
    }
  }
  .ant-table-wrapper {
    td {
      padding: 6px 16px;
    }
  }
  .ant-pagination.ant-table-pagination {
    margin-right: 8px;
  }
  .radio-select-keysearch__footer {
    text-align: right;
    border-top: 1px solid #D9D9D9;
    padding: 8px 8px 4px;
    font-size: 12px;
    .mgl-8 {
      margin-left: 8px;
    }
  }
}